.button {
    display: flex;
    cursor: pointer;

    user-select: none;
    
    background-color: var(--dark);
    color: var(--text-color);
    border: solid 1px var(--dark);
    
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    font-size: calc(var(--navh) / 4);

    margin: 4px;
    padding: 10px !important;

    border-radius: 10px;

    max-height: 80%;

    transition: .1s ease-in-out;
}

.button:hover {
    color: var(--primary);

    border: solid 1px var(--primary);
}

.button:active {
    background-color: var(--notso-dark);
}

.button#jumpUp {
    position: fixed;
    right: 1.5rem;
    width: fit-content;
}

.simplistic-button {
    display: flex;
    cursor: pointer;

    user-select: none;

    border: solid 1px #fff;
    border-radius: 10px;

    box-sizing: border-box;

    background-color: transparent;
    color: #fff !important;
    
    padding: .9em !important;
    margin: 4px;

    font-size: calc(var(--navh) / 4);

    text-align: center;
    align-items: center;
    text-decoration: none;

    width: fit-content;
    height: fit-content;
    max-height: 80%;

    transition: .1s ease-in-out;
}

.simplistic-button:hover {
    background-color: #fff;
    
    color: #1b1b1b !important;
}