footer {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: var(--footerh);

    background-color: var(--bg-darker);
}

footer #jumpUp {
    font-family: 'Material Symbols Rounded' !important;
    font-size: 14px;
    pointer-events: initial !important;
}

.wrapper footer {
    bottom: - var(--footerh);
}

footer * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

footer>div {
    display: flex;

    padding: 30px;
    width: 70%;
}

footer a {
    display: flex;
    width: fit-content;
    height: auto;
}

footer ul li {
    margin-bottom: 10px;
}

/* IZQUIEDA */
footer div.left {
    width: 30% !important;
}
footer div.left {
    flex-direction: column;
    justify-content: space-between;
}

/* DERECHA */

footer div.right,
footer div.right #social {
    flex-direction: row;
}

footer div.right>* {
    margin-right: auto;
}

footer div.right #social>* {
    margin: 0 10px 0 0;
}

footer div.right div {
    display: flex;

    flex-direction: column;

    max-height: 100%;
    align-items: flex-start;
}

footer div.right div>* {
    margin: 10px 0;
}

footer div.right p.title {
    font-size: 15px;
}

footer div.right * {
    font-size: 12px;
}