form {
    display: flex;
    flex-direction: column;

    gap: 1em;
}

form * {
    background-color: var(--primary);
    color: #000;
}

form input, form button, form textarea, form select {
    padding: .5em;
    border: 0;
    border-radius: .5rem;
}

form textarea, form select {
    padding: .9em;
    outline: none;
}

form select option, form select, form button, form input[type="button"] {
    cursor: pointer;
}





form.margin-top {
    margin-top: 2rem;
}