@import url('http://fonts.cdnfonts.com/css/alphakind');

:root {
    --bg-color: #23272a;
    --bg-darker: #212427;
    --bg-black: #121314;

    --primary: #d9ff52;
    --secondary: #f1ffbf;
    --dark: #688140;

    --text-color: var(--secondary);
    --copy-color: #383b3d;
    --semitrans: rgba(255, 255, 255, 0.24);

    --navh: 10vh;
    --footerh: 35vh;
    --bodyh: calc(100vh - var(--navh) - var(--footerh));

    /* BRANDS */
    --none-color: #616161;
    --discord: #5865F2;
    --github: #000;
    --youtube: #ff0000;
    --twitter: #1D9BF0;
}

* {
    font-family: 'Alphakind', sans-serif;
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

html {
    background-color: transparent;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label#copyright {
    visibility: hidden;
}

label#copyright::before {
    visibility: visible;
    content: "© Colored Stealth 2018" !important;
    margin-right: 3px;
}

body {
    margin-top: var(--navh);

    background: var(--bg-color);

    min-height: var(--bodyh);
    height: fit-content;
    
    max-width: 100%;
}

.float {
    -webkit-animation: float-box 2s infinite;
    animation: float-box 2s infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: -1.12s;
    animation-delay: -1.12s;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.container {
    display: flex;

    width: 100%;

    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.avatar {
    background-color: var(--bg-color);
    
    overflow: hidden;
    
    border: solid var(--primary) 2px;
    border-radius: 100%;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);

    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.avatar img {
    height: 100%;
    max-width: 300px;
}

.social-icon {
    height: 25px;
    width: 25px;

    fill: var(--none-color);

    transition: 0.15s ease;
}

.social-icon:hover {
    cursor: pointer;
}

.social-icon.discord:hover {
    fill: var(--discord);
}

.social-icon.github:hover {
    fill: var(--github);
}

.social-icon.youtube:hover {
    fill: var(--youtube);
}

.social-icon.twitter:hover  {
    fill: var(--twitter);
}

.line {
    width: 100%;
    opacity: 0.2;

    height: 1px;

    cursor: initial !important;
    background-color: var(--secondary);

    padding: 0 !important;
    margin: 0 !important;
}

.top-margin {
    margin-top: 50px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;

    width: min(100%, 948px);
    min-height: 10px;
}

.boxes > * {
    margin: 30px;

    background-color: var(--bg-black);
    width: calc((100% / 3) - 2 * 30px);
    height: 170px;
}

.guild-child {
    display: flex;
    position: relative;

    border-radius: 30px;
    overflow: hidden;

    align-items: center;
    justify-content: center;

    transition: 0.1s ease;
}

.guild-child:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 2px var(--primary);
}

.guild-child > #bg {
    filter: blur(16px);
    opacity: 0.5;
}

.guild-child #icon {
    position: absolute;
    border-radius: 50%;

    height: 50%;
    width: auto;

    top: 15%;

    z-index: 3;
}

.guild-child #info {
    position: absolute;
    bottom: 15%;

    border-radius: 10px;

    padding: 5px;

    background-color: var(--semitrans);

    z-index: 1;
}

.wrapper {
    min-height: var(--bodyh);
    position: relative;
}