<!DOCTYPE html>
<html>

<head>
    <title>Jeffrey Bot</title>
    <link id="favicon" rel="icon"
        href="https://cdn.glitch.com/2c61ee42-4a04-4a21-b074-65934d0afc88%2FJBLogo.ico?1553650131111"
        type="image/x-icon">
</head>

<body>
    <%- include("./src/partials/index") %>
        <div class="container">
            <div class="avatar">
                <img src="https://github.com/DevJeffreyG/JeffreyBot/blob/v2.X.X/src/resources/imgs/icon.png?raw=true">
            </div>
            <h2 class="no-margin">Jeffrey Bot</h2>
            <h1 class="no-margin">Coming Soon</h1>
        </div>
        <%- include("./src/partials/footer") %>
</body>

</html>