<!DOCTYPE html>
<html>

<head>
    <title>Jeffrey Bot</title>
</head>

<body>
    <%- include("./src/partials/index") %>
        <div class="container first" style="height: calc(75vh - var(--navh));">
            <div class="bubble">
                <img src="/src/imgs/jb_logo.png">
            </div>
            <h2 class="no-margin">Jeffrey Bot</h2>
            <h1 class="no-margin">Próximamente</h1>
        </div>
        <%- include("./src/partials/footer") %>
    </body>

</html>