<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeffrey Bot - Login</title>
</head>

<body>
    <%-include("../src/partials/index") %>
        <% if (!code) { %>
            <script>
                window.location.replace("/");
            </script>
            <% } %>

        <script>

            window.onload = async () => {
                const code = { code: '<%= code %>' };

                const query = await fetch("/auth/discord/callback", {
                    body: JSON.stringify(code),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: "POST"
                })

                const response = await query.json();

                if(response.error) return window.location.replace("/")
                else return window.location.replace(`/dashboard/`)
            }
        </script>
    <%-include("../src/partials/footer") %>
</body>

</html>