<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden</title>
</head>

<body>
    <%- include("../../src/partials/favicon") %>
        <%- include("../../src/partials/styles") %>
            <%- include("../../src/partials/loading") %>

                <div class="container error">
                    <h1>403</h1>
                    <p>No deberías estar aquí.</p>
                    <br>
                </div>
</body>

</html>