<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colored Stealth - JeffreyG</title>
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
</head>

<body>
    <%- include("../../src/partials/index") %>

        <h1 class="rellax-title">JeffreyG</h1>
        <div class="rellax-container first">
            <img src="../../src/imgs/GBanner.jpg"
                alt="CS_Banner">
        </div>

        <div class="container bg after-rellax">
            <div class="card reveal left keep">
                <div class="avatar" id="logo">
                    <img src="../../src/imgs/jg2023.png"
                        alt="JeffreyG">
                </div>
                <div class="description">
                    <h1 id="title">¿Quién es JeffreyG?</h1>
                    <p id="content">
                        Gabriel "JeffreyG" Páez es un estudiante de <span id="age"></span> años de Colombia,
                        apasionado por el dibujo, programación y entretenimiento.
                    </p>
                    <p id="content">
                        Gabriel siempre quiere hacerlo todo por su cuenta y por eso tarda en completar sus proyectos en
                        mente.
                    </p>
                    <p id="content">
                        Cuando está en internet se le refieren como "Jeffrey" o "JeffreyG".
                    </p>
                </div>
            </div>
        </div>

        <div class="container after-rellax">
            <div class="card dark reveal right keep">
                <div class="description">
                    <h1 id="title">El personaje 'Jeffrey'</h1>
                    <p id="content">
                        Jeffrey es el personaje con el que se representa Gabriel en internet.
                    </p>
                    <p id="content">
                        Jeffrey es un zorro con colores naranja, blanco y verde en su mayoría. El color favorito de
                        Gabriel es el verde
                        y debía estar presente en su personaje, claro.
                    </p>
                    <p id="content">
                        Al principio, Jeffrey estaba pensado en ser un zorro con colores naturales, pero con el tiempo
                        fue evolucionando con patrones y colores diferentes.
                    </p>
                    <p id="content">
                        Gabriel creó a Jeffrey aproximadamente a finales de 2018, principios de 2019 cuando entró al Furry Fandom.
                    </p>
                </div>
                <div class="avatar" id="logo">
                    <img src="../../src/imgs/foxpfp.png"
                        alt="JeffreyZorro">
                </div>
            </div>
            <div class="card reveal right keep">
                <h1 id="title">Eso es todo, ¡por ahora!
            </div>
        </div>

        <script>
            var rellax = new Rellax(".rellax-container", {
                speed: -9
            })

            let span = document.querySelector("#age");
            let bd = new Date("12/29/2005");

            span.innerHTML = `${Math.floor((new Date() - bd) / 31536000000)}`
        </script>

        <%- include("../../src/partials/footer") %>
</body>

</html>