<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/texts.css">
<link rel="stylesheet" href="../css/buttons.css">
<link rel="stylesheet" href="../css/nav.css">

<nav>
    <div class="left" id="logo">
        <img src="https://github.com/DevJeffreyG/JeffreyBot/blob/v2.X.X/src/resources/imgs/icon.png?raw=true"
            alt="JB Logo" class="logo">
        <p>Jeffrey Bot</p>
    </div>
    <div class="right">
        <div class="button" id="login-btt">Entra con Discord</div>
    </div>
</nav>